body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#f4f6f8;
    display: flex;
    justify-content: center;
    padding:20px;
}
.container{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    width:600px;
}
h1{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}
.form-group{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}
.form-group input {
    flex: 1 1 48%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group button {
    flex: 1 1 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

th {
    background: #007bff;
    color: white;
}
.underweight { background-color: #ffcccc; } /* light red */
.normal { background-color: #ccffcc; }      /* light green */
.overweight { background-color: #ffeb99; }  /* light yellow */
.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #e60f00;
}
